<html>
    <head>
        <title>Movie Data Website</title>
    </head>
    <h1>Home Page</h1>
    <body>
        <ul>
            <li>
            <%= link_to "Latest Movies", movies_index_path %>      
            </li>
        </ul>
        <ul>
            <li>
            <%= link_to "Movie Search", movies_search_movies_path %>      
            </li>
        </ul>
        <ul>
            <li>
            <%= link_to "Favourite Movie List", movies_list_favourites_path %>      
            </li>
        </ul>
    </body>
</html>