<h1>Favourite Movie List</h1>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |mv| %>
      <tr>
        <td><%= mv.movie_data["Title"] %></td>
        <td><%= mv.movie_data["Year"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>